/**
* @name DTM-18
* @author dav154
* @version 2
* @description Aims to recreate the 2018 Discord style.
* @authorId 490604571824226306
* @source https://github.com/davart154/DTM-18/blob/main/dtm-18.css
*
* @var checkbox colorblind-status "Colorblind Mode: Change some visual aspects of Discord to better suit colorblindness." 1
*/

@import url(https://davart154.github.io/Themes/DTM-18/DTM-18.css);
